/* COPYRIGHT INFO HERE */
/* COPYRIGHT INFO HERE */
/* GENERAL STYLES */
* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#ui-layer,
#map-layer,
#map-select-layer {
  width: 100%;
  height: 100%;
  position: absolute;
}
.clearfix {
  clear: both;
}
/* SLIDER LAYER STYLES */
#slider-bar {
  z-index: 75;
  width: 50px;
  left: -25px;
  position: absolute;
  height: 100%;
  background-image: url('../img/slider/slider-middle.png'), url('../img/slider/slider-bar.png');
  background-repeat: no-repeat, repeat-y;
  background-position: center, center;
}
#slider-bar #drag-right,
#slider-bar #drag-left {
  position: absolute;
  top: 50%;
  margin-top: -30px;
}
#slider-bar #drag-left {
  display: none;
  margin-left: -55px;
}
#slider-bar #drag-right {
  margin-left: 45px;
}
/* MAP SELECT LAYER STYLES */
#map-select-layer {
  z-index: 200;
  background-color: #eeeeee;
  height: 0px;
  display: none;
  margin-top: 100%;
}
#map-select-layer #menu-header {
  width: 100%;
  background-color: #64b551;
  height: 144px;
  box-sizing: border-box;
}
#map-select-layer #menu-header #menu-icon {
  position: absolute;
  width: 37px;
  height: 38px;
  top: 70px;
  left: 30px;
}
#map-select-layer #menu-header #menu-title {
  padding-top: 63px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 35px;
  color: #fff;
}
#map-select-layer #menu-options {
  margin: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
#map-select-layer #menu-options ul {
  list-style-type: none;
  display: default;
}
#map-select-layer #menu-options ul li {
  padding: 30px;
  border-bottom: 1px solid #ddd;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 30px;
}
#map-select-layer #menu-options ul li .tick-icon {
  float: right;
  width: 32px;
  height: 26px;
  margin-top: 4px;
}
#map-select-layer #menu-options ul .last {
  border-bottom: 0px;
}
/* UI LAYER STYLES */
#ui-layer {
  /* SEARCH BAR STYLES */

  /* BUTTON STYLES */

}
#ui-layer #search-bar,
#ui-layer #search-bar-expanded {
  position: absolute;
  width: calc(100% - 30px);
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
#ui-layer #search-bar {
  margin: 50px 15px 0px;
  z-index: 100;
  padding: 20px 30px;
  background: #fff;
}
#ui-layer #search-bar #search-icon {
  position: absolute;
}
#ui-layer #search-bar #search-icon img {
  vertical-align: top;
  margin-top: 6px;
  margin-left: -5px;
}
#ui-layer #search-bar input {
  float: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 35px;
  width: calc(100% - 180px);
  /* 50px left margin, 130px for icons on right */

  border: none;
  background: none;
  margin-left: 50px;
  outline: none;
}
#ui-layer #search-bar #search-bar-options {
  list-style-type: none;
  float: right;
}
#ui-layer #search-bar #search-bar-options li {
  display: inline-block;
}
#ui-layer #search-bar #search-bar-options li img {
  margin-top: 4px;
  vertical-align: top;
}
#ui-layer #search-bar #search-bar-options #search-bar-favourite {
  margin-left: 20px;
}
#ui-layer #search-bar-expanded {
  z-index: 99;
  display: none;
  margin: 0 15px;
  background: #fff;
  top: 136px;
  color: #333;
  font-family: "Open Sans", sans-serif;
}
#ui-layer #search-bar-expanded #favourite-title {
  font-weight: 300;
  font-size: 30px;
  padding: 20px 30px;
}
#ui-layer #search-bar-expanded #favourite-locations {
  list-style-type: none;
  font-weight: 400;
  font-size: 30px;
}
#ui-layer #search-bar-expanded #favourite-locations li {
  padding: 20px 30px;
  border-bottom: 1px solid #ddd;
}
#ui-layer #search-bar-expanded #favourite-locations li .favourite-delete {
  float: right;
  margin-top: 10px;
  vertical-align: top;
}
#ui-layer #left-button-block {
  display: none;
}
#ui-layer #left-button-block,
#ui-layer #right-button-block {
  position: absolute;
  z-index: 100;
  bottom: 25px;
}
#ui-layer #left-button-block {
  left: 25px;
}
#ui-layer #right-button-block {
  right: 25px;
}
#ui-layer #left-legend-button,
#ui-layer #right-legend-button,
#ui-layer #left-topic-button,
#ui-layer #right-topic-button {
  position: absolute;
  transform: scale(0.01);
  display: none;
}
#ui-layer #left-legend-button.btn-expanded,
#ui-layer #right-legend-button.btn-expanded,
#ui-layer #left-topic-button.btn-expanded,
#ui-layer #right-topic-button.btn-expanded {
  transform: scale(1);
}
#ui-layer #left-legend-button,
#ui-layer #right-legend-button {
  bottom: 120px;
}
#ui-layer #left-legend-button:not(.btn-expanded),
#ui-layer #right-legend-button:not(.btn-expanded) {
  transition: all .5s ease;
}
#ui-layer #left-legend-button.btn-expanded,
#ui-layer #right-legend-button.btn-expanded {
  transition: all .25s ease;
}
#ui-layer #left-topic-button,
#ui-layer #right-topic-button {
  bottom: 240px;
}
#ui-layer #left-topic-button:not(.btn-expanded),
#ui-layer #right-topic-button:not(.btn-expanded) {
  transition: all .25s ease;
}
#ui-layer #left-topic-button.btn-expanded,
#ui-layer #right-topic-button.btn-expanded {
  transition: all .5s ease;
}
/* MAP LAYER STYLES */
#map-layer {
  z-index: 50;
  /*#div [margin-left = 5px; margin-right = 5px; z-index = 1000000; position = absolute; left = 0px; bottom = 0px;] {
        display: none;
    }*/

}
#map-layer .gmnoprint {
  display: none;
}
#map-layer a [href="http://maps.google.com/maps?ll=51.45,-2.6&z=15&t=m&hl=en-US&gl=US&mapclient=apiv3"] {
  display: none;
}
