/* UI LAYER STYLES */
/* UI LAYER STYLES */
@media (max-width: 640px) and (orientation: portrait) {
  #ui-layer {
    /* SEARCH BAR STYLES */
  
  }
  #ui-layer #search-bar,
  #ui-layer #search-bar-expanded {
    width: calc(100% - 30px);
  }
  #ui-layer #search-bar {
    margin-top: 30px;
    padding: 20px 30px;
    background: #fff;
  }
  #ui-layer #search-bar #search-icon img {
    width: 25px;
    vertical-align: top;
    margin-top: 6px;
    margin-left: -5px;
  }
  #ui-layer #search-bar input {
    font-size: 20px;
    width: calc(100% - 180px);
    /* 50px left margin, 130px for icons on right */
  
    margin-left: 50px;
  }
  #ui-layer #search-bar #search-bar-options li img {
    width: 25px;
    margin-top: 4px;
  }
  #ui-layer #search-bar #search-bar-options #search-bar-favourite {
    margin-left: 20px;
  }
  #ui-layer #search-bar-expanded {
    margin: 0 15px;
    top: 136px;
  }
  #ui-layer #search-bar-expanded #favourite-title {
    font-size: 30px;
    padding: 20px 30px;
  }
  #ui-layer #search-bar-expanded #favourite-locations {
    font-size: 30px;
  }
  #ui-layer #search-bar-expanded #favourite-locations li {
    padding: 20px 30px;
  }
  #ui-layer #search-bar-expanded #favourite-locations li .favourite-delete {
    margin-top: 10px;
  }
}
