/* COPYRIGHT INFO HERE */

/* GENERAL STYLES */
    
* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

#ui-layer, #map-layer {
    width: 100%;
    height: 100%;
    position:absolute;
}

.clearfix {
    clear:both;
}

/* UI LAYER STYLES */

#ui-layer {   
    #search-bar, #search-bar-expanded {
        position:absolute;        
        width:~"calc(100% - 30px)";
        box-sizing:border-box;
        box-shadow:0px 0px 10px rgba(0, 0, 0, .2);
    }
    #search-bar {
        margin:50px 15px 0px;
        z-index:100;
        padding:20px 30px;
        background:#fff;
        #search-icon {
            position:absolute;
            img {
                vertical-align:top;
                margin-top:6px;
                margin-left:-5px;
            }
        }
        input {
            float:left;
            font-family:"Open Sans", sans-serif;
            font-weight:400;
            font-size:35px;
            width:~"calc(100% - 180px)"; /* 50px left margin, 130px for icons on right */
            border:none;
            background:none;
            margin-left:50px;
            outline:none;
        }
        #search-bar-options {
            list-style-type:none;
            float:right;
            li {
                display:inline-block;                 
                img {
                    margin-top:4px;
                    vertical-align:top;
                }
            }
            #search-bar-favourite {
                margin-left:20px;
            }
        }
    }
    #search-bar-expanded {
        z-index:99;
        display:none;
        margin:0 15px;
        background:#fff;
        top:136px;
        color:#333;
        font-family:"Open Sans", sans-serif;
        #favourite-title {
            font-weight:300;
            font-size:30px;
            padding:20px 30px;
        }
        #favourite-locations {
            list-style-type:none;
            font-weight:400;
            font-size:30px;
            li {
                padding:20px 30px;
                border-bottom:1px solid #ddd;
                .favourite-delete {
                    float:right;
                    margin-top:10px;
                    vertical-align:top;
                }
            }
        }
    }
}

/* MAP LAYER STYLES */

#map-layer {
    z-index:50;
}

